on init
    # exfat
    insmod /system/lib/modules/texfat.ko

on boot
    start chargeled

on offmode_charging
    start detect_key
    start offmode_charging

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service detect_key /sbin/detect_key
    disabled
    seclabel u:r:healthd:s0
    oneshot

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0
